
/* agave regular */
@font-face{
  font-family:"believe";
  src:url('believe.woff') format('woff');
}
/* agave regular */
@font-face{
  font-family:"agave";
  src:url('agave_nerd/AgaveNerdFont-Regular.woff') format('woff');
  font-weight: normal;
  font-style:normal;
}

/* agave bold*/
@font-face{
  font-family:"agave";
  src: url('agave_nerd/AgaveNerdFont-Bold.woff') format('woff');
  font-weight: bold; 
  font-style:normal;
}

