@import "variables";

/* Utility container pattern */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Main wrap */
.wrap {
  @include container;

  margin-top: 40px;
  margin-bottom: 40px;

  display: grid;
  gap: 20px;
}

.site-header {
  position: sticky;
  padding-left: 40px;
  top: 0;
  z-index: 100;
  height: 50px;
  display: flex;
  align-items: flex-start;
  background-color: none;
  background:
    radial-gradient(1200px 800px at 10% 20%, rgba(255, 60, 172, .6), transparent 60%),
    radial-gradient(1000px 700px at 90% 30%, rgba(0, 212, 255, .6), transparent 60%),
    radial-gradient(1000px 700px at 40% 90%, rgba(109, 94, 252, .6), transparent 60%),
    linear-gradient(120deg, $bg1, $bg2, $bg3, $bg4);
  transition: all 1s cubic-bezier(.22,1,.36,1);
}
.site-header.shrink {
  border-bottom: solid 3px rgba(255,255,255,0.5);
}


.site-header .logo {
    font-family: "brandis";
    font-size: 5rem;
    transform-origin: top left;
    padding-top: 26px;
    color: rgba(255,255,255,0.5);
    transform: scale(1);
    transition: transform 1s cubic-bezier(.22,1,.36,1);
  }


.site-header.shrink .logo{
  transform: scale(0.4);
}

.site-footer{
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
  border-top: solid 2px rgba(255,255,255,0.5);
  background:
    radial-gradient(1200px 800px at 10% 20%, rgba(255, 60, 172, .6), transparent 60%),
    radial-gradient(1000px 700px at 90% 30%, rgba(0, 212, 255, .6), transparent 60%),
    radial-gradient(1000px 700px at 40% 90%, rgba(109, 94, 252, .6), transparent 60%),
    linear-gradient(120deg, $bg1, $bg2, $bg3, $bg4);

  a {
    margin-left: 15px;
    text-decoration: none;
    color: $muted;

    &:hover { color: white; }
  }
}
.nav__link{
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-weight: 600;
  transition: all 400ms cubic-bezier(.22,1,.36,1);

}
.nav__link:hover{
  color: rgba(255,255,255,0.9);
  letter-spacing: 2px;
  font-weight: 900;
}
.nav__link.active{
  color: rgba(255,255,255,0.9);
  font-weight: 900;
}
.page {
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}
.page.active{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  height: auto;
  overflow: visible;
}
.pages{
  width: min(600px, calc(100%-50px));
  padding: 50px 40px;
}
