@import "variables";

/* Utility container pattern */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Main wrap */
.wrap {
  @include container;

  margin-top: 40px;
  margin-bottom: 40px;

  display: grid;
  gap: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  --t: 0;
  display: flex;
  padding: calc(20px-(10px*var(--t))) 20px;
  transition: all 1s ease;
  .logo {
    font-family: "brandis";
    font-size: calc(6rem-(1.6rem*var(--t)));
    padding: 0px 40px;
    text-decoration: none;
    color: white;
    transition: all 1s ease;
  }
}


.nav {
  a {
    margin-left: 15px;
    text-decoration: none;
    color: $muted;

    &:hover { color: white; }
  }
}

