@import "variables";

/* Utility container pattern */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Main wrap */
.wrap {
  @include container;

  margin-top: 40px;
  margin-bottom: 40px;

  display: grid;
  gap: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 10px 20px;
  transition: all 1s ease;

  .logo {
    font-family: "brandis";
    font-size: 6rem;
    padding: 0px 40px;
    text-decoration: none;
    color: white;
  }
}

.site-header.scrolled {
  padding: 2px 20px;
  .logo {
    font-size:1.3rem;
  }
}

.nav {
  a {
    margin-left: 15px;
    text-decoration: none;
    color: $muted;

    &:hover { color: white; }
  }
}

