@import "variables";

/* Utility container pattern */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Main wrap */
.wrap {
  @include container;

  margin-top: 40px;
  margin-bottom: 40px;

  display: grid;
  gap: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  display: flex;
  padding-left: 3px;
  padding-top: 20px;
  transition: padding-top 1s cubic-bezier(.22,1,.36,1);
}

.site-header .logo {
    font-family: "brandis";
    font-size: 5rem;
    color: rgba(255,255,255,0.5);
    transition: font-size 1s cubic-bezier(.22,1,.36,1);
  }

.site-header.shrink{
    padding-top: 2px;
  }

.site-header.shrink .logo{
  font-size: 2rem;
}

.site-footer{
  display: flex;
  justify-content: center;
}
.nav {
  a {
    margin-left: 15px;
    text-decoration: none;
    color: $muted;

    &:hover { color: white; }
  }
}

