@import "variables";

/* Utility container pattern */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Main wrap */
.wrap {
  @include container;

  margin-top: 40px;
  margin-bottom: 40px;

  display: grid;
  gap: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  display: flex;
  padding-left: 3px;
  padding-top: 20px;
  transition: padding-top 1s cubic-bezier(.22,1,.36,1);
}

.site-header .logo {
    font-family: "brandis";
    padding-top: 10px;
    font-size: 5rem;
    color: rgba(255,255,255,0.5);
    transition: font-size 1s cubic-bezier(.22,1,.36,1);
  }

.site-header.shrink{
    padding-top: 10px;
  }

.site-header.shrink .logo{
  font-size: 18px;
}

.site-footer{
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  gap: 18px;
  justify-content: center;
  padding: 18px 0;
  a {
    margin-left: 15px;
    text-decoration: none;
    color: $muted;

    &:hover { color: white; }
  }
}
.nav__link{
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-weight: 600;
  transition: all 400ms cubic-bezier(.22,1,.36,1);

}
.nav__link:hover{
  color: rgba(255,255,255,0.9);
  letter-spacing: 2px;
  font-weight: 900;
}
.nav__link.active{
  color: rgba(255,255,255,0.9);
  letter-spacing: 2px;
  font-weight: 900;
}
.page {
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}
.page.active{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  height: auto;
  overflow: visible;
}
.pages{
  width: min(600px, calc(100%-50px));
  padding: 10px 10px;
  margin: 10px 10px;
}
