--- 
--- 

@font-face {
  font-family: "brandis";
  src: url("{{ '/assets/fonts/brandis.otf' | relative_url }}") format("otf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "variables";
@import "base";
@import "layout";

