--- 
--- 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>

      {% if page.title %}
        {{ page.title }} · {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}

  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {% assign show_bg = page.show_bg | default: site.show_bg | default: true %}
    {% assign show_blobs = page.show_blobs | default: site.show_blobs | default: true %}

    {% if show_bg %}
        <div class="bg" aria-hidden="true"></div> 
    {% endif %}

    {% if show_blobs %}

          <div class="ambient-blobs" aria-hidden="true">
             <canvas id="cursor-blob-trail" aria-hidden="true"></canvas>
            <div class="blob-wrap blob-wrap-a">
              <div class="blob blob-a"></div>
            </div>

            <div class="blob-wrap blob-wrap-b">
              <div class="blob blob-b"></div>
            </div>

            <div class="blob-wrap blob-wrap-c">
              <div class="blob blob-c"></div>
            </div>

          </div>

    {% endif %}

    <header>
        {% if site.title %}
        <h1>          
            <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        {% endif %}

        {% if site.navigation %}
            <nav aria-label="Primary">
            {% for item in site.navigation %}
                {% assign item_url = item.url | relative_url %}
                {% assign current = false %}

                {% if page.url == item.url %}
                    {% assign current = true %}
                {% endif %}

                <a
                      href="{{ item_url }}"
                      {% if current %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
                {% endfor %}
            </nav>
        {% endif %}
     </header>

  
    <main>
        {{ content }}
    </main>
    
    <footer> 
        {% if site.footer_text %}
            <p> {{ site.footer_text }}</p> 
        {% else %}
            <p>&copy; {{ site.time | date: '%Y' }} mozaic integrative therapies llc. </p>
        {% endif %}
    </footer>
  </body>
</html>

