<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="bg"></div>
  <div class="blobs">
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
  </div>

  <header class="site-header" id="siteHeader">
      <h1 class="logo">
        mozaic.
      </h1>
  </header>

  <div style="height: 100vh;"></div>
  
  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </footer>

<script src="{{ '/assets/scripts.js' | relative_url}}"></script>
</body>
</html>

